# ==================================================
# APPLICATION
# ==================================================
NODE_ENV=development
PORT=3003
LOG_LEVEL=info

# ==================================================
# MONGODB
# ==================================================
MONGODB_URI=mongodb://localhost:27017/smart-camera

# ==================================================
# STORAGE
# ==================================================
UPLOAD_DIR=uploads/detection

# ==================================================
# CORS
# ==================================================
CORS_ORIGIN=*
